@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: 246 247 248;
  --primary-200: 219 222 226;
  --primary-300: 194 201 206;
  --primary-400: 173 181 189;
  --primary-500: 142 151 163;
  --primary-600: 125 133 147;
  --primary-700: 112 118 133;
  --primary-800: 78 82 90;
  --primary-900: 50 52 57;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background:;
  color:;
  font-size: 1.25rem;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
